@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --wp--color--black: #000000;
  --wp--color--cyan-bluish-gray: #abb8c3;
  --wp--color--white: #ffffff;
  --wp--color--pale-pink: #f78da7;
  --wp--color--vivid-red: #cf2e2e;
  --wp--color--luminous-vivid-orange: #ff6900;
  --wp--color--luminous-vivid-amber: #fcb900;
  --wp--color--light-green-cyan: #7bdcb5;
  --wp--color--vivid-green-cyan: #00d084;
  --wp--color--pale-cyan-blue: #8ed1fc;
  --wp--color--vivid-cyan-blue: #0693e3;
  --wp--color--vivid-purple: #9b51e0;
  --wp--color--primary: #ff90bc;
  --wp--color--secondary: #ff90bc;
  --wp--color--success: #7a9c59;
  --wp--color--alert: #b20000;
}
.header-title {
  background-color: var(--wp--color--primary);
  padding: 2px 0;
}
.header-title p {
  font-size: 13px;
}
.header-btn {
  background-color: var(--wp--color--pale-pink);
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  height: 40px;
  display: flex;
  font-size: 1.4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header-nav {
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;
}
.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.header-menu li {
  border: 2px solid var(--wp--color--primary);
  background-color: var(--wp--color--white);
  padding: 8px 15px;
  list-style: none;
  border-radius: 8px;
}
.header-menu li:hover {
  background-color: var(--wp--color--primary);
  scale: 1.1;
}
.header-menu li:hover a {
  color: var(--wp--color--white);
}
.header-menu li a {
  font-size: 1.4rem;
  color: var(--wp--color--primary);
}
.header-menu li.active-nav {
  background-color: var(--wp--color--primary);
}
.header-menu li.active-nav a {
  text-decoration: none;
  color: var(--wp--color--white);
}

/* swipper */
.swiper {
}
.swiper-slide {
  width: 100%;
  height: 30rem;
  /* border-radius: 1.5rem; */
  display: flex;
  overflow: hidden;
}
.paginations {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.swiper-button-next,
.swiper-button-prev {
  width: 5rem !important;
  height: 5rem !important;
  line-height: 5rem !important;
  text-align: center;
  background: #fff;
  border-radius: 50%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.4rem !important;
  font-weight: 600;
  color: #3b4b5e;
}
.swiper-pagination-bullet {
  width: 4rem;
  height: 1rem;
  border-radius: 1.2rem;
  transition: all 0.4s ease;
}
.swiper-pagination-bullet-active {
  width: 8rem;
}
.banner img {
  border-radius: 10px;
}
.item-img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* product list */
.item-img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.item-img img:hover {
  scale: 1.2;
  transition: all ease-in-out 0.5s;
}
.pro-title {
  color: var(--wp--color--secondary);
  font-size: 1.8rem;
  text-align: center;
}
.discount-tag {
  position: absolute;
  background-color: var(--wp--color--pale-pink);
  color: #fff;
  padding: 2px 15px;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 5px;
  top: 0;
  right: 0;
}

/* news */
.news-thumnail {
}
.news-thumnail a {
}
.news-thumnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(207, 207, 207, 0.377);
}
.news-item {
  background-color: #fff;
  border-radius: 10px;
}
.news-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-desc {
  color: #a7a7a7;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* footer */
footer {
  background-color: var(--wp--color--primary);
  color: #ecf0f1;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  width: 30%;
  padding: 20px;
}

.footer-section.about .logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 14px;
}

.footer-section ul li a {
  color: #f0f2f3;
  font-size: 1.4rem;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #f39c12;
}

.social-media {
  display: flex;
  gap: 15px;
}

.social-media li a {
  color: #ecf0f1;
  font-size: 16px;
  transition: color 0.3s;
}

.social-media li a:hover {
  color: #f39c12;
}

@media screen and (max-width: 768px) {
  .footer-section {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
/* detail */
.swiper-wrapper {
  width: 100%;
}
.change-number-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--wp--color--primary);
  width: fit-content;
  border-radius: 5px;
}
.change-number-box input {
  width: 50px;
  height: 40px;
  font-size: 2rem;
  border: none;
  text-align: center;
  outline: none;
}
.add-more-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.minus-more-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.add-more-btn,
.minus-more-btn {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border: 0;
}
.buy-now-btn,
.add-cart-btn {
  padding: 15px 20px;
  width: fit-content;
  font-size: 1.5rem;
  border-radius: 10px;
  color: #fff;
}
.add-cart-btn {
  display: flex;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
}
.filter-left-box {
  height: 400px;
  overflow-y: scroll;
}
.filter-left-box li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.filter-left-box input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: var(--wp--color--primary);
}
.filter-left-box li span {
  font-size: 1.4rem;
}
.pro-discount-box {
}

/* pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--wp--color--black);
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.pagination-btn:hover {
  background-color: var(--wp--color--secondary);
  border: var(--wp--color--secondary);
}
.pagination-btn:hover a {
  color: var(--wp--color--white);
}
.pagination-arrow:hover a {
  color: var(--wp--color--secondary);
}
.pagination-btn.pagination-active {
  background-color: var(--wp--color--pale-pink);
  border: var(--wp--color--pale-pink);
}
.pagination-btn.pagination-active a {
  color: var(--wp--color--white);
}
.pagination-arrow {
  margin-right: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}
.pagination-arrow a,
.pagination-btn a {
  color: var(--wp--color--black);
}

.option-box {
  background-color: #3b4b5e;
  height: 100vh;
  padding: 30px 10px;
  border-radius: 15px;
}
.option-box_item {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}

.color-option_box {
  overflow-x: scroll;
}
.color-option_range {
  width: 500px;
  display: flex;
  gap: 10px 0;
  flex-wrap: wrap;
}
.bg-color_option {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}
.bg-layer1_option {
  background-color: #00d084;
}
.bg-layer2_option {
  border-radius: 20px;
  background-color: rgba(223, 207, 218, 0.233);
}
.bg-layer {
  height: 80px;
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
  margin-right: 10px;
}
.bg-layer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-point_design {
   position: relative;
}
.box-point_layer{
  height: 245px;
  width: 120px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: red;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-45%);
}
.box-choosed {
  position: absolute;
  right: 0;
  width: 400px;
  background-color: #3b4b5e;
  top: 10%;
  padding: 10px;
  right: 0;
  border-radius: 20px;
}
.box-choosed ul {
  width: 95%;
  margin: 0 auto;

}
.box-choosed ul li {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.box-choosed_item {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(202, 166, 166, 0.404);
  margin: 0 auto;
}